.web-annotator-highlight-yellow {
    background-color: #FFFF00; /* Yellow */
    cursor: pointer;
}

.web-annotator-highlight-red {
    background-color: #FF0000; /* Red */
    color: white; /* Adjust text color for contrast */
    cursor: pointer;
}

.web-annotator-highlight-green {
    background-color: #00FF00; /* Green */
    cursor: pointer;
}

.web-annotator-highlight-blue {
    background-color: #0000FF; /* Blue */
    color: white; /* Adjust text color for contrast */
    cursor: pointer;
}

.web-annotator-highlight-orange {
    background-color: #FFA500; /* Orange */
    color: white; /* Adjust text color for contrast */
    cursor: pointer;
}

button.active {
    border: 2px solid #000; /* Highlight active button */
}

#fill {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 5px;
    cursor: pointer;
}

.container {
    margin: 30px;
    padding: 40px;
    background-color: #F8EEEC;
    width: 300px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #55c2da;
    border-color: #55c2da;
}

button:hover {
    background-color: #5783db;
    border-color: #5783db;
}

input[type='text'] {
    width: 300px;
    margin: 20px;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
/* Define styles for the annotation list and other elements */
.annotation {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* ... other styles ... */

#annotation-list {
    max-height: 200px;
    overflow-y: auto;
}

/* ... other styles ... */
